.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-form{
  display: flex;
  flex-direction: column;
}
.form-layout{
  width: 450px;
  display: flex;
  flex-direction: column;
}

label{
  margin: 10px 0;
}

.title-label{
  height: 30px;
}

input{
  margin-bottom: 14px;
  border: 1px solid gray;
  border-radius: 8px;
}

textarea{
  border: 1px solid gray;
  border-radius: 8px;
}

button{
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

button:hover{
  cursor: pointer;
  scale: 0.97;
}

button:active{
  scale: 0.9;
}